<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Vesper+Libre" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{{block "stylesheets"}}}
  </head>
  <body>
    {{{body}}}
    {{{block "scripts"}}}
  </body>
</html>
