body {
  padding: 50px;
  font: 16px Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
dl {
  width: 400px;
  margin: 0;
  font-family: "Courier New", monospace;
  counter-reset: index;
}
dt,
dd {
  border-bottom: 1px solid #ddd;
  margin: 0 0 0.8em 0;
  float: left;
  line-height: 2;
}
dt.heading,
dd.heading {
  font-family: "Vesper Libre", serif;
  font-weight: bold;
  text-align: left;
  color: #800600;
  padding-top: 1em;
  padding-bottom: 1em;
}
dd {
  width: 80%;
  padding-left: 1em;
}
dt {
  width: 15%;
  text-align: right;
  font-weight: bold;
  position: relative;
}
dt:not(.heading)::before {
  counter-increment: index;
  content: counter(index) ".";
  font-weight: normal;
  display: block;
  position: absolute;
  left: 0;
}
