body
  padding 50px
  font 16px Helvetica, Arial, sans-serif

a
  color #00B7FF

dl
  width 400px
  margin 0
  font-family "Courier New", monospace;

dt, dd
  border-bottom 1px solid #ddd
  margin 0 0 0.8em 0
  float left
  line-height 2

dd
  width 80%
  padding-left 1em

dt
  width 15%
  text-align right
  font-weight bold
